
#title {
  background-color: #ebad4b;
}

.container-fluid {
  padding: 2% 25%;
}

h1 {
  font-family: 'Bitter';
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
}

p {
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  color: black;
  text-align: center;
}

.logo-text {
  width: 20%;
  padding: 0 10px;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 100%;
  position: absolute;
}

#pricing {
  padding: 100px;
  text-align: center;
}


.custom-button {
  background-color: #ebad4b;
  outline-color: #ebad4b;
  color: white;
}

.card-image {
  width:500px;
  height:300px;
  background-position: center center;
  background-repeat: no-repeat;
}

.custom-button:hover {
  background-color: #ba6e11;
}
.pricing-header {
  color: #000;
}

.pricing-column {
  padding: 7% 15%
  padding: 3% 2%;
}
